.easyPagesCareer-page-banner{
  float:left;
  width:100%;
  height:auto;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-image: url('http://i.imgur.com/k2W7mDb.png');
  position:relative;
}
.easyPagesCareer-page-banner h1{
    float:left;
    width:100%;
    font-size:36px;
    color:#fff;
    margin:120px 0;
    text-align:center;
    position: relative;
    z-index:10;
}
.easyPagesCareer-page-banner:before{
  content:"";
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position: absolute;
  z-index:5;
}


/* This plugin wrapper uses the same width as bootstrap */
.easyPagesCareer-wrapper{
  width: 1040px;
  display:block;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  clear: both;
}
@media screen and (max-width: 1024px){
  .easyPagesCareer-wrapper{
    width: 970px;
  }
}
@media screen and (max-width: 990px){
  .easyPagesCareer-wrapper{
    width: 100%;
  }
}


/* the introduction on the careers page */
.easyPagesCareer-introduction, .easyPagesCareer-job-information{
  float:left;
  width:100%;
  height:auto;
  padding: 40px 0;
  color:#000;
  border-bottom: 1px solid #ccc;
}

.easyPagesCareer-introduction h2{
  float:left;
  width:100%;
  font-size:36px;
  margin:0 0 5px 0;
  line-height: normal;
  padding:0;
  cursor:default;
  font-weight: 300;
}
.easyPagesCareer-introduction p{
  float:left;
  width:100%;
  height:auto;
  line-height:26px;
  font-size:16px;
  margin:0 0 20px 0;
  cursor:default;
}
.easyPagesCareer-introduction p:last-of-type{
  margin-bottom:0;
}

.easyPagesCareer-companyPhotos{
  float:left;
  width:100%;
  height:auto;
  max-height: 500px;
  overflow:hidden;
}
.easyPagesCareer-companyPhotos img{
  float:left;
  width:33.3%;
  height:auto;
  margin:0;
  cursor:default;
}

.easyPagesCareer-currentPositions{
  float:left;
  width:100%;
  padding:20px 0 100px 0;
}
.easyPagesCareer-currentPositions h3{
  float:left;
  width:100%;
  font-size:36px;
  margin-bottom:0;
  color:#000;
  font-weight: 300;
  line-height: normal;
}
.easyPagesCareer-currentPositions ul{
  float:left;
  width:100%;
  height:auto;
  padding:0;
  margin:0;
}
  .easyPagesCareer-currentPositions ul:hover li{
    opacity: 0.4;
    transition: all 0.3s;
  }

.easyPagesCareer-currentPositions ul li{
  float:left;
  width:100%;
  padding: 20px;
  background-color:#ffffff;
  margin-bottom:1px;
  overflow:hidden;
  position:relative;
  transition: 0.6s;
  border:1px solid #cccccc;
  border-radius:4px;
}
  .easyPagesCareer-currentPositions ul:hover li:hover{
    opacity:1;
    padding-bottom:80px;
    transition:all 0.3s;
  }

.easyPagesCareer-currentPositions ul li a.role-title{
  float:left;
  width:100%;
  height:auto;
  font-size:24px;
  margin:0 0 5px 0;
  color:#85db5a;
  font-weight:900;
  text-decoration:none;
  transition:all 0.6s;
}
  .easyPagesCareer-currentPositions ul li a.role-title:hover{
    color:#a9f583;
    transition:all 0.3s;
    text-decoration:underline;
  }

.easyPagesCareer-currentPositions ul li p{
  font-size:16px;
  line-height:26px;
  color:#000;
  cursor:default;
}
  .easyPagesCareer-currentPositions ul li:last-of-type{
    margin-bottom:0;
  }

  .easyPagesCareer-currentPositions ul li a.read-more-button{
    display:block;
    position:absolute;
    bottom:-60px;
    right:0px;
    width:180px;
    height:40px;
    line-height:40px;
    color:#fff;
    font-size:18px;
    text-align:center;
    background-color:#85db5a;
    text-decoration: none;
    transition: all 0.6s;
  }
  .easyPagesCareer-currentPositions ul:hover li:hover a.read-more-button{
    bottom:0px;
    transition: all 0.6s;
  }
      .easyPagesCareer-currentPositions ul:hover li:hover a.read-more-button:hover{
          background-color:#a9f583;
          text-decoration: underline;
          transition: all 0.3s;
      }


/*Single job information page */
.easyPagesCareer-job-information{
  float:left;
  width:100%;
  padding-top:20px;
}
  .easyPages-job-content{
    float:left;
    width:70%;
  }

  .easyPages-job-content .block{
    float:left;
    width:100%;
    padding:20px;
    background-color:#fff;
    border:1px solid #cccccc;
    border-radius:4px;
    margin:0 0 20px 0;
  }
  .easyPages-job-content h2{
    cursor: default;
     float: left;
     font-size: 36px;
     font-weight: 300;
     line-height: normal;
     margin: 0 0 5px;
     padding: 0;
     width: 100%;
  }
  .easyPages-job-content p{
    font-size:16px;
    cursor: default;
    line-height:26px;
    margin:0 0 20px 0;
  }


  .easyPages-job-sidebar{
    float:right;
    width:30%;
    padding-left:20px;
    margin-top: 48px;
  }
  .easyPages-job-sidebar ul.info{
    float:left;
    width:100%;
    padding:20px;
    background-color:#fff;
    color:#000;
    margin:0;
    border:1px solid #cccccc;
    border-radius:4px;
  }
  .easyPages-job-sidebar ul.info li{
    float:left;
    width:100%;
    height:auto;
    margin:0 0 10px 0;
    font-size:16px;
  }
    .easyPages-job-sidebar ul.info li:last-of-type{
      margin-bottom:0;
    }

  .easyPages-job-sidebar ul.info li .title{
    float:left;
    width:100%;
    height:auto;
    font-size:20px;
    font-weight:900;
    margin:0 0 5px 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
  }

  /*The Apply Button */
  .easyPages-job-apply{
    float:left;
    width:100%;
    height:50px;
    line-height: 50px;
    background-color: #85db5a;
    text-align:center;
    font-size:20px;
    color:#fff;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-bottom: 1px solid #65a446;
    transition:all 0.6s;
    cursor: pointer;
  }
    .easyPages-job-apply:hover{
      background-color:#a9f583;
      text-decoration: underline;
      transition: all 0.3s;
    }


  /*Application form on single pages */
  .easyPages-job-application{
    float:left;
    width:100%;
    height:auto;
    margin:40px 0;
    padding: 20px 0 0 0;
    border:1px solid #cccccc;
    border-radius:4px;
    background-color:#fff;
    overflow:hidden;
    position:relative;
  }
  .easyPages-job-application .full{
    float:left;
    width:100%;
  }
  .easyPages-job-application .half{
    float:left;
    width: 50%;
    padding:0 20px;
  }

  .easyPages-job-application label{
    float:left;
    width:100%;
    font-size:20px;
    color:#000;
  }
  .easyPages-job-application .input-container{
    float:left;
    width:100%;
    position:relative;
    margin:0 0 20px 0;
  }
    .easyPages-job-application .input-container input{
      margin:0;
      padding:0 20px 0 40px;
    }
    .easyPages-job-application .input-container.name:after{
      position:absolute;
      font-family:fontAwesome;
      color:#ccc;
      left:0;
      top:0;
      width:40px;
      text-align:center;
      font-size:20px;
      line-height:40px;
      content:"\f007";
    }
    .easyPages-job-application .input-container.email:after{
      position:absolute;
      font-family:fontAwesome;
      color:#ccc;
      left:0;
      top:0;
      width:40px;
      text-align:center;
      font-size:20px;
      line-height:40px;
      content:"\f003";
    }

  .easyPages-job-application .hidden_input{
    position:absolute;
    left:-5000px;
    bottom:-5000px;
  }


  .easyPages-job-application .upload-button{
    background-color: #4baeba;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding: 0 60px 0 15px;
    text-align: left;
    width: 100%;
    position:relative;
  }

    .easyPages-job-application .upload-button:after{
      position:absolute;
      font-family:fontAwesome;
      color:#fff;
      right:0;
      top:0;
      width:40px;
      text-align:center;
      font-size:20px;
      line-height:40px;
      content:"\f0f6";
    }

  .easyPages-job-application .easyPagesSubmit{
    float:left;
    margin:20px auto 0 auto;
    width:100%;
  }
      .easyPages-job-application .easyPagesSubmit button{
        float:left;
        width:100%;
        height:50px;
        line-height: 50px;
        background-color: #85db5a;
        text-align:center;
        font-size:20px;
        color:#fff;
        border-right:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-bottom: 1px solid #65a446;
        transition:all 0.6s;
        cursor: pointer;
      }
